# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true

  # macht alle Klassen in src/ automatisch als Services verfügbar
  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Kernel.php'

  # Konfiguration für unseren Keycloak JWT Authenticator
  App\Security\KeycloakJwtAuthenticator:
    arguments:
      $jwksUri: '%env(KEYCLOAK_JWKS_URI)%'
      $issuer: '%env(KEYCLOAK_ISSUER)%'
      $azp: '%env(default::KEYCLOAK_AZP)%'
